/* HW1 Recommended Assignment */
#home {
    text-decoration: none; /* removing underline of link */
}
#nav_name {
    display: inline;
    color: #ffffff;
    background-color: #4aaaa5;
    padding: 20px;
}
.nav_menu {
    text-decoration: none; /* removing underline for link */
}
.nav_menu_container {
    display: inline;
    color: #777777;
}
.content_sheet {
    position: relative;
    max-width: 960px;
    margin: 20px auto 0 auto;
    background-color: #ffffff;
    border-color: #dddddd;
    color:#777777;
  }
header {
    background-color: #ffffff;
    border-style: solid;
    border-color: #cccccc;
    border-width: 0 0 2px 0;
    position: fixed;
    top: 0;
    width: 100%;
}
footer {
    background-color:#666666;
    line-height: 60px;
    height: 40px;
    color: #aaaaaa;

    border-style: solid;
    border-color: #4aaaa5;
    border-width: 8px 0 0 0;
    
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
}
a, a:visited {
    color: inherit;
}
nav {
    max-width: 960px;
    margin: 0 auto;
}
.nav_menu_position {
    float: right;
}
h3, h4 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}
.nav_menu_container, p, form {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
.heading1 {
    color:#4aaaa5;
    padding: 20px;
    margin-top: 90px;
}
#nav_name, #home, .nav_menu {
    line-height: 60px;
}
hr {
    display: block;
    margin-top: -18px;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
    border-style: solid;
}
#image1, #image2 {
    display: inline;
    margin: 20px 0 20px 20px;
}
#image3 {
    position: relative;
    display: inline;
    margin: 20px 0 20px 20px;
}
#image3_banner {
    display: inline;
    position: absolute;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    width: 320px;
    margin-left: -324px;
    margin-top: 170px;
}
#image4 {
    position: relative;
    display: inline;
    margin: 20px 0 20px 40px;
}
#image4_banner {
    display: inline;
    position: absolute;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    width: 320px;
    margin-left: -324px;
    margin-top: 170px;
}
#image5 {
    position: relative;
    display: inline;
    margin: 20px 0 20px 20px;
}
#image5_banner {
    display: inline;
    position: absolute;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    width: 320px;
    margin-left: -324px;
    margin-top: 170px;
}
#image6 {
    position: relative;
    display: inline;
    margin: 20px 0 20px 40px;
}
#image6_banner {
    display: inline;
    position: absolute;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    width: 320px;
    margin-left: -324px;
    margin-top: 170px;
}
#image7 {
    position: relative;
    display: inline;
    margin: 20px 0 20px 20px;
}
#image7_banner {
    display: inline;
    position: absolute;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    width: 320px;
    margin-left: -324px;
    margin-top: 170px;
}
.index_paragraph, .about_me_paragraph {
    position: absolute;
    top: 70px;
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
}
.index_paragraph {
    font-size: 4rem;
}
form {
    margin-left: 20px;
    margin-right: 35px;
}
.input_example, .text_message {
    color: #777777;
    width: 100%;
    padding-left: 10px;
}
#input_name {
    z-index: 0;
}
input {
    height: 40px;
}
.submit_button_label {
    color: #ffffff;
    background-color: #4aaaa5;
    width: 110px;
}
#portfolio_sample1, #portfolio_sample2,
 #portfolio_sample3, #portfolio_sample4,
  #portfolio_sample5 {
    text-decoration: none; /* removing underline of link */
}